!!!
%head
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script type="text/javascript" src="jquery.colorbox-min.js"></script>
  %link(rel='stylesheet' href='css/colorbox.css')
  %link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
  %link(rel='stylesheet' href='bootstrap/css/bootstrap-responsive.min.css')
  %link(rel='stylesheet' href='css/default.css')
%body

  #galleria
    - Albums.list.each do |album| 
      %br{style:'clear:left'}
      %div
        %h2= album.name
        - album.images.each do |image|
          %a(href = "#{image.url}" class = "#{album.name.tr(' ', '_')}")
            %img(src = "#{image.thumb_url}" class='thumb')

        %script
          $(".#{album.name.tr(' ', '_')}").colorbox({rel:"#{album.name.tr(' ', '_')}", maxWidth:'95%', maxHeight:'95%'});

  <script src="/bootstrap/js/bootstrap.min.js">