!!!
%head
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script type="text/javascript" src="jquery.touch-gallery-1.0.0.min.js"></script>
  %link(rel='stylesheet' href='css/colorbox.css')
  %link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
  %link(rel='stylesheet' href='bootstrap/css/bootstrap-responsive.min.css')
  %link(rel='stylesheet' href='css/default.css')
%body

  #galleria
    - Albums.list.each do |album| 
      %br{style:'clear:left'}
      %div
        %h2= album.name
        - album.images.each do |image|
          - next unless image.valid?
          %a(href = "#{image.url}" class = "#{album.name.tr(' ', '_')}")
            %img(src = "#{image.thumb_url}" class='thumb')

        %script
          $(".#{album.name.tr(' ', '_')}").touchGallery();

  <script src="/bootstrap/js/bootstrap.min.js">