!!!
- require 'json'
%head
  <script type="text/javascript" src="klass.min.js"></script>
  <script src="jquery.min.js"></script>
  <script type="text/javascript" src="code.photoswipe.jquery-3.0.5.min.js"></script>
  <script type="text/javascript" src="album_adapter.js"></script>
  
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  / %link(rel='stylesheet' href='css/colorbox.css')
  %link(rel='stylesheet' href='css/photoswipe.css')
  / %link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
  / %link(rel='stylesheet' href='bootstrap/css/bootstrap-responsive.min.css')
  %link(rel='stylesheet' href='css/default.css')
%body

  #galleria
    - Albums.list.each do |album| 
      - album_name = album.name.tr(' ','_');
      - urls = album.images.select(&:valid?).map { |image| {:image => image.url.force_encoding('utf-8'), :thumb => image.thumb_url.force_encoding('utf-8')} }

      %br{style:'clear:left'}
      %h2{:onClick => "javascript:toggle('#{album_name}')"}= "#{album.name} [toggle]"
      %div{:id => album.name.tr(' ','_') + '_container', :class => 'album_bg compact'}
      %script
        var album = new Album('#{album_name}', 160, #{urls.to_json});
        albums['#{album_name}'] = album;
        album.renderAlbum();


  <script src="/bootstrap/js/bootstrap.min.js">